*, *::before, *::after{
    box-sizing: border-box;
}
body{
background-color: #f6e0f4;
}
main{
    width:90%;
    max-width: 2100px;
    margin:0 auto;
}
img{
    max-width: 100%;
    border-radius: 10px;
}
iframe{
    max-width: 100%;
    margin-bottom: 1rem;
    border-radius:10px;
}
a, ul{
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
}
nav{
    display: flex;
    justify-content: space-between;
    padding:1rem 0;
    height: max-content;
}
p{
    font-size: 1rem;
    font-family: 'Montserrat',sans-serif;
    color:#b04fd7;

}
.navbar-container .container-child1{
display: flex;
}

.titleText{
    font-size: 2.5rem;
    font-family:'Mirza',sans-serif ;
    color:#8d05b7;
    margin:0 auto;
    padding-left: 2rem;
}

.navBarButton img{
    border-radius: 0;
}

.navbar-container .container-child2 {
display: none;
}

.subheading{
    font-size: 1.25rem;
    font-family: 'Mirza',sans-serif;
    color: #8d05b7;
}
.mp3 h3{
    font-family: 'Mirza',sans-serif;
    font-size: 1.2rem;
    color:#b57bcb;
}
.tableRow{
    text-align: left;

}
.tableHeading{
    padding:0.5rem 1rem 0 0;
}

footer{
    margin:2rem 0;
}

@media (min-width:770px){
    .subheading{
        font-size: 2.5rem;
    }
    p{
        font-size: 1.5rem;
    }

    .titleText{
        font-size: 5rem;
        margin:0 auto;
    }
    .section1,.section2,.section3,.section4{
        display:flex;
        justify-content: space-between;
        
    }
    .section1 .grid-child-text{
        width:50%;
        margin-right: 2rem;
    }
    

}
   